#= require '../components/allmixedup/jquery-1.10.2.min.js'
#= require '../components/allmixedup/spine/spine.js'
#= require '../components/allmixedup/spine/ajax.js'
#= require '../components/allmixedup/spine/manager.js'
#= require '../components/allmixedup/spine/route.js'
#= require '../components/allmixedup/spine/relation.js'
#= require '../components/active_spine/active_spine.js'
#= require '../components/allmixedup/common-app.js'

#= require '../components/allmixedup/bootstrap/js/bootstrap.min.js'

# Application includes

#= require_tree './lib'
#= require_tree './main/models'
#= require_tree './main/controllers'
#= require_tree './main/scenes'

#= require './main/index'
